#!/bin/sh
#
# Simple Redis init.d script conceived to work on Linux systems
# as it does use of the /proc filesystem.
#
# chkconfig:   - 85 15
# description:  Redis is a persistent key-value database
# processname: redis

REDISPORT=<%= node[:redis][:port] %>
EXEC=<%= node[:redis][:install_dir] %>/bin/redis-server
CLIEXEC=<%= node[:redis][:install_dir] %>/bin/redis-cli

PIDFILE=<%= node[:redis][:pid_file] %>
CONF=<%= "#{node[:redis][:conf_dir]}/#{node[:redis][:port]}.conf" %>

case "$1" in
    start)
        if [ -f $PIDFILE ]
        then
                echo "$PIDFILE exists, process is already running or crashed"
        else
                echo "Starting Redis server..."
                $EXEC $CONF
        fi
        ;;
    stop)
        if [ ! -f $PIDFILE ]
        then
                echo "$PIDFILE does not exist, process is not running"
        else
                PID=$(cat $PIDFILE)
                echo "Stopping ..."
                $CLIEXEC -p $REDISPORT shutdown
                while [ -x /proc/${PID} ]
                do
                    echo "Waiting for Redis to shutdown ..."
                    sleep 1
                done
                echo "Redis stopped"
        fi
        ;;
    *)
        echo "Please use start or stop as first argument"
        ;;
esac
